 body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
 }

 .wrapper{
    width: 1100px;
    margin: auto;
    position: relative
 }

 .logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(173, 144, 112);
 }

 .menu{
    float: right;
 }

 nav{
    width: 100%;
    margin:auto;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    border: 1px solid darkgrey;
 }

 nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 nav ul li{
    float: left;
}

nav ul li a {
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
   margin: auto;
   display: flex;
   margin-bottom: 40px;
}

.kolom{
   margin-top: 25px;
   margin-bottom: 25px;
}

.kolom .deskripsi{
   font-size: 45px;
   font-weight: bold;
   font-family: monospace;
   color:darkslategray;
   width: 100%;
   line-height: 40px;
   margin-right: 20px;
}

h2{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 800;
   font-size: 40px;
   margin-bottom: 5px;
   color: darkslategray;
}

h3{
   font-family: cursive;
   margin-bottom: 5px;
}
h4{
   font-family: cursive;
   font-weight: 800;
   font-size: 20px;
   margin-bottom: 5px;
}
h5{
   font-family: cursive;
   font-weight: 800;
   font-size: 20px;
   margin-bottom: 5px;
}
h6{
   font-family: cursive;
   font-weight: 800;
   font-size: 20px;
   margin-bottom: 5px;
}

h7{
   font-family: cursive;
   font-weight: 800;
   font-size: 20px;
   margin-bottom: 5px;
}
h8{
   font-family: cursive;
   font-weight: 800;
   font-size: 20px;
   margin-bottom: 5px;
}
h9{
   font-family: cursive;
   font-weight: 800;
   margin-bottom: 5px;
   font-size: 20px;
}


footer{
   font-family: 'Libre Franklin', sans-serif;
   background-color: grey;
   color: white;
}